body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

.navbar {
  background-color: #7289DA;
  border-radius: 2px;
}

.navbar a {
  color: #FFFFFF;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #99AAB5;
}

.navbar p {
  color: #FFFFFF;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar p:hover {
  color: #FFFFFF;
}
